header{
  background-color: #080c16;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInfo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px 0;
}

.actions{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main{
  background-color: #050911;
}

.publication{
  background-color: #0c1323;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  border-radius: 5px;
  padding: 10px;
}

.publicationHeader{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.publicationHeader *{
  cursor: pointer;
}

.publication .description{
  padding: 15px 0;
}

.publicationFooter > div{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.publicationFooter > div *{
  cursor: pointer;
  margin-right: 2px;
}

.publicationFooter > span{
  font-size: 14px;
  color: #264594;
}